* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100vh !important;
    background-image: url(Textures/Background.gif);
    background-size: 100%;
    cursor: none;
}

#infoBar {
    position: relative;
    width: 100%;
    height: 7%;
    background-color: rgb(211, 23, 23);
    border-bottom: solid white 2px;
}

#infoBar2 {
    position: relative;
    width: 100%;
    height: 7%;
    background-color: rgb(255, 255, 255);
    border-top: solid red 2px;
}

#score {
    z-index: 2;
    position: absolute;
    width: 9%;
    height: 85%;
    top: 7%;
    left: 1%;
}


#clock {
    z-index: 2;
    position: absolute;
    width: 10%;
    height: 300%;
    top: -100%;
    left: 10%;
}

#timer {
    top: 25%;
    left: 14%;
    z-index: 3;
    position: absolute;
}

#logo {
    z-index: 2;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 25%;
}

#playground {
    width: 100%;
    height: 86%;
    top: 7%;
    bottom: 7%;
}

#barlave {
    position: absolute;
    width: 17%;
    height: 15%;
    top: 40%;
    left: O;
}

#barpeau  {
    position: absolute;
    z-index: 0;
    transform: scaleX(-1);
    width: 17%;
    height: 15%;
    right: -200;
    top: 0;
    transition: left 0.01s linear;
}

#léviator {
    transform: scale3D(1);
    position: absolute;
    width: 400px;
    right: -200;
    top: 0;
    transition: left 0.01s linear;
}

#bullesDO {
    position: absolute;
    transition: right 0.01s linear;
}

#menu {
    display: grid;
    grid-template-rows: 3fr;
    position: absolute;
    display: none;
    z-index: 1;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border: solid rgb(214, 17, 17) 2px;
}
#menu1 {
    position: relative;
    width: 100%;
    height: 33%;
    border-bottom: 1px solid rgb(218, 27, 27);
    background-color: rgb(255, 255, 255);
}

#menu2 {
    position: relative;
    width: 100%;
    height: 33%;
    border-bottom: 1px solid rgb(218, 27, 27);
    background-color: rgb(255, 255, 255);
}

#menu3 {
    position: relative;
    width: 100%;
    height: 33%;
    background-color: rgb(255, 255, 255);
}

#menu1:hover {
    position: relative;
    width: 100%;
    height: 33%;
    border-bottom: 1px solid rgb(218, 27, 27);
    background-color: rgb(211, 33, 33);
}

#menu2:hover {
    position: relative;
    width: 100%;
    height: 33%;
    border-bottom: 1px solid rgb(218, 27, 27);
    background-color: rgb(204, 34, 34);
}

#menu3:hover {
    position: relative;
    width: 100%;
    height: 33%;
    background-color: rgb(207, 24, 24);
}

.bloup > p {
    position: absolute;
    top: 45%;
    text-align: center;
    font-weight: bold;
    color: rgba(255, 0, 0, 0.938);
    width: 100%;
}

.bloup:hover > p {
    color: rgba(255, 255, 255, 0.938);
}

#copyright {
    left: 1%;
    width: 6%;
    height: 85%;
}

#thePokémonCompany {
    width: 7%;
    height: 75%;
}

#version {
    position: relative;
    top: -30px;
    left: 87%;
    z-index: 7;
    height: 80%;
}
